$primary-color:#206bc4;
$light-primary-color:#206ac44f;
$white-color:#ffffff;
$bg-color:#f9fafb;
$bglight-color:#f3f4f6;
$black-color:#000000;
$seconday-color:#111827;
$dark-text-color:#374151;
$gray-color:#6b7280;
$light-gray-color:#d1d5db;